*{
  background-color: darkslategray;
}

.box{
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    border: 2px;
    border-style: dashed;
    border-color: black;
    background-color: red;
    margin: 20px;
    padding: 2px;
 display: flex;
  justify-content: center; /* Aligns content horizontally */
  align-items: center; /*
}
